:root{--main-background-color:#FFFFFF;
--title-text-color:#212121;
--main-text-color:#757575;
--accent:#2196F3;}

/* основний колір фону #F5F5F5 */
/* колір хедера #ECECEC */
/* колір головної секції #2F303A */
/* колір командної секції #F5F4FA*/
/* колір футера #2F303A */
/* акцент #2196F3 */
/* колір тексту заголовків #212121 */
/* колір тексту #757575 */

body{background-color: var(--main-background-color);color: var(--main-text-color); font-family: Roboto, Geneva, Arial, Helvetica, sans-serif;}
.header{background-color:#ECECEC;}
ul {list-style: none;}
/* Навігація сайту */
.site-nav .link {color:var(--title-text-color); text-decoration: none; font-weight: 500;font-size: 14px; line-height: 1.1;} 
.site-nav .link:hover, .site-nav .link:focus {color:var(--accent)}
.site-nav .link.current{color:var(--accent);}
.contact-nav a {color:var(--main-text-color);text-decoration: none;font-weight: 500;font-size: 14px; line-height: 1.1;}
.contact-nav a:hover, .auth-nav a:focus {color:var(--accent);}
.web-logo{color:var(--accent); font-family: 'Raleway';font-weight: 700;}
.studio-logo{color:#000000;font-family: 'Raleway';font-weight: 700;}
.logo {text-decoration: none;font-family: 'Raleway';font-weight: 700; font-size: 26px; line-height:1.2;}

/* Основний контент Студії */
.section-title, .team-title {color: var(--title-text-color);font-size: 36px;line-height:1.2;text-align: center;letter-spacing: 0.03em;font-weight: 700;}
.feature-text, .team-work {color:var(--main-text-color);}
.main{background-color: #2F303A;}
.main-title{color:#FFFFFF;font-size: 44px; line-height: 1.4;text-align: center; letter-spacing: 0.06em; text-transform: uppercase;}
.button{background-color:#2196F3;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); border-radius: 4px; cursor: pointer;font-family: inherit;}
.text-button{color: #FFFFFF;font-size: 16px; line-height: 1.9; font-weight: 700;}
.section{background-color: var(--main-background-color);}
.draft-title{opacity: 0}
.feature-title{color: var(--title-text-color); font-size: 14px; line-height: 1.4; letter-spacing: 0.03em; text-transform: uppercase;font-weight: 700;}
.feature-text{ font-size: 14px; line-height:1.7; letter-spacing: 0.03em;}
.team{background-color: #F5F4FA;}
.team-name{color:var(--title-text-color);font-size: 16px;line-height:1.9 ;text-align: center;letter-spacing: 0.03em;font-weight: 500;}
.team-work{font-size: 16px;line-height: 1.9; text-align: center;letter-spacing: 0.03em;}

/* Портфоліо */
.filter-button{text-align: center;letter-spacing: 0.03em;cursor: pointer;background-color: #F5F4FA; color:var(--title-text-color); border:none;font-weight: 500; font-size: 16px;line-height: 1.6;font-family: inherit;}
.filter-button:hover,.filter-button:focus {background-color: var(--accent);color:#FFFFFF}
.projects-name{color:var(--title-text-color); font-weight:700;font-size: 18px;line-height: 2; letter-spacing: 0.06em;}
.projects-mean{color:var(--main-text-color);font-size: 16px;line-height: 1.9; letter-spacing: 0.03em;}


/* Підвал сайту */
.footer{background-color: #2F303A;}
.studio-logo-footer{color:#FFFFFF}
.footer-adress{letter-spacing: 0.03em;color: #FFFFFF;text-decoration:none;font-style:normal;font-size: 14px;line-height:1.7;}
.footer-contact{letter-spacing: 0.03em; color: rgba(255, 255, 255, 0.6);font-style:normal;text-decoration:none;font-size: 14px;line-height:1.7;}
.footer-contact:hover , .footer-contact:focus{color:var(--accent);}